<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Filocum</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="titlearac">

    <div class="container-fluid" id='containerarac'>

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" id='navbararac'>

        <a class="navbar-brand" href="">Filocum</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/AracEkle">Araç Ekle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AdminPanel">Panel</a>
            </li>
          </ul>

        </div>
      </nav>


    </section>

    <section class="white-section" id="pricing">
      <form action="/StokEklePost" method="post">
    <div class="form-group">
      <label>Araç</label>
      <select  name='arac' class="form-control"  aria-label="Default select example">
      <option selected>Lütfen Araç Seçin</option>
      <% for (var i = 0; i < AraclarListe.length;i++){%>
      <option value='<%=JSON.stringify(AraclarListe[i].Model).replace(/"/g, "")%>'><%=JSON.stringify(AraclarListe[i].Model).replace(/"/g, "")%></option>
      <% } %>
      </select>
    </div> <!-- form-group// -->
    <div class="form-group">
      <label>Adet</label>
      <input type="number" class="form-group" name="adet" placeholder="Eklenecek Adet">
    </div> <!-- form-group// -->
        <button type="submit" class="btn btn-primary btn-block">Ekle</button>
    </form>

    </section>
    <!-- Call to Action -->

    <!-- Footer -->

    <footer class="white-section" id="footer">
      <div class="container-fluid" style="text-align: center">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p>© Copyright 2022 Filocum</p>
      </div>
    </footer>


    </body>

    </html>


    <!-- <h1>EKLE</h1>
    <form action="/FirmaGiris" method="post">
      <input type="text" name="id" placeholder="ID">
      <input type="text" name="pass" placeholder="Password">
      <button type="submit" name="button">Giris</button>
    </form> -->
